{
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "quotes": ["error", "single"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": "warn",
    "no-undef": "off",
    "no-unused-vars": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off"
  },
  "extends": ["airbnb", "eslint:recommended"]
}
